.welsee-btn-primary{
    border: 1px solid #4596EC;
    background-color: #fff;
    color: #4596EC;
}
.welsee-btn-primary:hover {
    border-color: #4596EC;
    color: #4596EC;
}
.layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#1E9FFF;
}
.layui-form-select dl dd.layui-this{background-color:#1E9FFF}