<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.ClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxy.entity.Client">
        <id column="id" property="id"/>
        <result column="client_id" property="clientId"/>
        <result column="client_secret" property="clientSecret"/>
        <result column="client_name" property="clientName"/>
        <result column="home_page" property="homePage"/>
        <result column="logo" property="logo"/>
        <result column="del" property="del"/>
        <result column="createdatetime" property="createdatetime"/>
        <result column="modifydatetime" property="modifydatetime"/>
    </resultMap>

    <select id="getClientByClientId" resultMap="BaseResultMap">
        select * from client where client_id = #{arg0} and del = '0'
    </select>

</mapper>
