<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.PersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lxy.entity.Person">
        <id column="id" property="id"/>
        <result column="login_id" property="loginId"/>
        <result column="realname" property="realname"/>
        <result column="sex" property="sex"/>
        <result column="person_type" property="personType"/>
        <result column="org_id" property="orgId"/>
        <result column="tel" property="tel"/>
        <result column="number" property="number"/>
        <result column="email" property="email"/>
        <result column="identity_no" property="identityNo"/>
        <result column="card_no" property="cardNo"/>
        <result column="student_id" property="studentId"/>
        <result column="start_year" property="startYear"/>
        <result column="pic" property="pic"/>
        <result column="del" property="del"/>
        <result column="createdatetime" property="createdatetime"/>
        <result column="modifydatetime" property="modifydatetime"/>
    </resultMap>

    <select id="getPersonByLoginId" resultMap="BaseResultMap">
        select * from person where login_id = #{org0} and del = '0'
    </select>

</mapper>
